[Unit]
Description=Run daily checkin block

[Service]
Type=oneshot
ExecStart=/home/pays0n/Documents/Projects/habit-tracking/daily-checkin/block.sh
User=root
