* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    height: 100dvh;
}

.two-choice {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    height: 100%;
}

.choice {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 2rem;

    font-size: 1.8rem;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    flex: 1;
}

#day-form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.question-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

#footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 1.5rem;

    font-size: 1rem;
}
