* {
    margin: 0;
    padding: 0;
}

body {
    height: 100dvh;
}

.two-choice {
    display: flex;
    flex-direction: row;
    align-items: stretch;

    height: 100%;
}

.choice {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}